.list-group-item p {
  font-size: 16px;
}
.results {

   background: linear-gradient(#333, black);
  opacity: 0.9;
  height: 100%;
  padding: top 10px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
